@model DAL.Client

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Client</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LastStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastFileNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastFileNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastRecordNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastRecordNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastKodEirua)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastKodEirua)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TeudatZehut)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TeudatZehut)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MobilePhoneNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MobilePhoneNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AddressStreetName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AddressStreetName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AddressStreetNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AddressStreetNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AddressCity)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AddressCity)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MaritalStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MaritalStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BirthDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BirthDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InsertDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InsertDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ModifyDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ModifyDate)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Client_Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
